/* some style */
.table {
    position: relative;
    left: 30%;
    width: 40%;
    border: 1px solid #DDD;
}
.row {
}
.cell {
    display: inline;
    margin: -4px;
}
.rotate-1 { transform: rotate(90deg);}
.rotate-2 { transform: rotate(180deg);}
.rotate-3 { transform: rotate(270deg);}

.btn {
    outline: none;
    text-decoration: none;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    padding: 2px 33px 0 33px;
    border-radius: 10px;
    line-height: 38px;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: white;
    margin: 10px;
    background-color: #47bffb;
}

.btn:hover {
    background-color: #57C7FF;
}

.btn:active {
    background-color: #47bffb;
}
#reset {
    width: 130px;
}